body {
	animation: color-change 20s infinite;
	background-color: #0e0e10;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
@keyframes color-change {
	0% { background-color: #0e0e10; }
	25% { background-color: #8761AB; }
	50% { background-color: #2253D8; }
	75% { background-color: #8761AB; }
	100% { background-color: #0e0e10; }
}
h1 {
	color: #2289D8;
	text-align: center; 
	padding-top: 15px;
}
.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
#footer {
	border-radius: 25px;
	background-color: #0e0e10;
	padding: 10px;
}
button {
    font-size:1vw;
    margin-top:1vw;
    width: 9vw;
    background-color: #E7E1E1;
    border: none;
    border-radius: 1vw;
}