body {
	background-color: #0e0e10;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

h1 {
	text-align: center; 
	padding-top: 15px;
}

.main {
    position: relative;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 10px;
}

.header {
    padding-top: 40px;
    padding-bottom: 20px;
    left: 0px;
    top: 0px;
    width: 100%;
    background: linear-gradient(to bottom right, #2253D8, #8761AB);
    text-align: center;
}

button.hackathons {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
}


#download_count {
    font-style: italic;
}

.nav {
    display: block;
    color: black;
    width: 150px;
    padding: 5px;
    background: linear-gradient(#ffffff, #dddddd);
    text-align: center;
    text-decoration: none;
    border: 1px solid #222222;
    border-collapse: collapse;
    border-radius: 5px;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}